langchainhub   
langchain  
langchain-community
streamlit
langchain-core
extra-streamlit-components
firebase-admin
PyJWT
email-validator
torch
accelerate 
peft 
bitsandbytes 
transformers 
trl
nest_asyncio 
html2text 
playwright 
sentence-transformers 
faiss-gpu
datasets